<div class="container">
  <div class="row">
    <div ng-include="'components/navbar/navbar.html'"></div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="hue-set-horiz">
        <span class="fj-font huge1 c{{$index+1}}" ng-repeat="n in makeCopies(5) track by $index">NUBS.ORG</span>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
      <div class="hue-set-vert">
          <span class="fj-font huge1 c{{$index+1}}" ng-repeat="n in makeCopies(5) track by $index">NUBS.ORG</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 content about">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Why?</h3>
        </div>
        <div class="panel-body">
          <p>
            I thought the site needed a facelift. This is only for fun.
          </p>
          <p>
            Since I first purchased the domain in 2003, nubs.org was used as a sandbox for my all of my web projects, hosting everything from CS clan websites to cringey high school blog posts.
          </p>
          <p>
            Keeping with the tradition, I plan on updating the site periodically throughout my journey as a growing software engineer/frontend developer.
          </p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tech</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Project scaffolding provided by <a href="https://github.com/Swiip/generator-gulp-angular">generator-gulp-angular</a> via yeoman</li>
            <li>Angular front-end, uiRouter, SCSS, Bootstrap</li>
            <li>Continuous Delivery provided by <a href="https://www.codeship.io/projects/45432">Codeship</a>; FTP upload triggered by a push to the <a href="https://bitbucket.org/danyim/nubs-danyim">repo</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div ng-include="'components/footer/footer.html'"></div>
</div>
