<div class="container">
  <div class="row">
    <div ng-include="'components/navbar/navbar.html'"></div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="hue-set-horiz">
        <span class="fj-font huge1 c{{$index+1}}" ng-repeat="n in makeCopies(5) track by $index">NUBS.ORG</span>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
      <div class="hue-set-vert">
          <span class="fj-font huge1 c{{$index+1}}" ng-repeat="n in makeCopies(5) track by $index">NUBS.ORG</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 content projects">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Projects</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <h4>nubs.org</h4>
              Live: <a href="http://nubs.org/">http://nubs.org/</a><br />
              Source: <a href="https://bitbucket.org/danyim/nubs-danyim">https://bitbucket.org/danyim/nubs-danyim</a>
            </li>
            <li>
              <h4>Breaking Bao</h4>
              Live: <a href="http://nubs.org/b/" target="_blank">http://nubs.org/b/</a><br />
            </li>
            <li>
              <h4>ConsultantSpeak</h4>
              Live: <a href="http://cspeak-danyim.rhcloud.com/" target="_blank">http://cspeak-danyim.rhcloud.com/</a><br />
              Source: <a href="https://github.com/danyim/ConsultantSpeak" target="_blank">https://github.com/danyim/ConsultantSpeak</a>
            </li>
            <li>
              <h4>Mach Interview</h4>
              Live: <a href="http://machinterview.com" target="_blank">http://machinterview.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div ng-include="'components/footer/footer.html'"></div>
</div>
