<div class="container">
  <div class="row">
    <div ng-include="'components/navbar/navbar.html'"></div>
  </div>
  <div class="row">
    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
      <div class="hue-set-bg">
        <span class="fj-font huge1 c{{$index+1}}" ng-repeat="n in makeCopies(10) track by $index">NUBS.ORG&nbsp;NUBS.ORG<br/></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div class="hue-set-horiz">
        <span class="fj-font huge1 c{{$index+1}}" ng-repeat="n in makeCopies(5) track by $index">NUBS.ORG</span>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
      &nbsp;
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 content main">
      <div class="jumbotron text-center">
        <h1><i class="fa fa-thumbs-o-up"></i></h1>
        <p class="lead">
          <strong>&nbsp;&nbsp;&nbsp;We're back, baby!</strong>
        </p>
        <p class="lead">
          ..but now what?
        </p>
      </div>
    </div>
    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
      &nbsp;
    </div>
  </div> -->

  <div ng-include="'components/footer/footer.html'"></div>
</div>

        <!-- <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@danyim">Daniel Yim</a> -->
