body {
  background: url(../assets/images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  border-radius: 8px;
  opacity: 0.8;
}

.footer {
  margin-top: 100px;
  color: #C0C0C0;
  // border-radius: 8px;
  // opacity: 0.8;
  // background-color: #101010;
  // padding: 12px;
  .fa {
    font-size: 2.5em;
    color: #c0c0c0;
    &:hover {
      color: #eee;
      transition: 0.6s;
    }
  }
}

.fj-font {
  font-family: 'Francois One', sans-serif;
  letter-spacing: -0.06em;
}

.huge1 {
  font-size: 10em;
  letter-spacing: -0.06em;
}

.hue-set-vert {
  position: relative;
  top: 500px;
  z-index: -100;
  line-height: 0em;
  width: 11.0em;
  height: 0.001em;
  * {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  transform: rotate(-90deg);
  opacity: 0.7;

  $colors: #FAF44B, #47ACAD, #6676BD, #FF5C5C, #000, #555, #666, #777, #888, #999;

  @for $i from 1 through 10 {
    .c#{$i} {
      color: nth($colors, $i);
      @if $i != 5 {
        // filter: blur(1px);
        opacity: 1 - $i*.1;
      }
      left: (12px*($i - 1));
      top: (12px*($i - 1));
    }
  }
}

.hue-set-horiz {
  position: relative;
  z-index: -100;
  line-height: 0em;
  width: 0.001em;
  height: 8.0em;
  * {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  opacity: 0.7;

  $colors: #FAF44B, #47ACAD, #6676BD, #FF5C5C, #000, #555, #666, #777, #888, #999;

  @for $i from 1 through 10 {
    .c#{$i} {
      color: nth($colors, $i);
      @if $i != 5 {
        // filter: blur(1px);
        opacity: 1 - $i*.1;
      }
      left: (12px*($i - 1));
      top: (12px*($i - 1));
    }
  }
}

.hue-set-bg {
  position: relative;
  z-index: -101;
  line-height: 0em;
  width: 0.001em;
  height: 8.0em;
  opacity: 0.7;
  * {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  $colors: #000, #111, #222, #333, #444, #555, #666, #777, #888, #999;

  @for $i from 1 through 10 {
    .c#{$i} {
      position: relative;
      // left: (15px*$i);
      color: nth($colors, $i);
    }
  }
}
