<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand fj-font">
        NUBS.ORG
      </span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/') }"><a ng-href="#/" title="home"><span class="glyphicon glyphicon-home"> </span></a></li>
        <li ng-class="{ active: isActive('/about') }"><a ng-href="#/about" title="about"><span class="glyphicon glyphicon-question-sign"> </span></a></li>
        <li ng-class="{ active: isActive('/projects') }"><a ng-href="#/projects" title="projects"><span class="glyphicon glyphicon-th"> </span></a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul> -->
    </div>
  </div>
</nav>
