<div class="row text-center">
  <div class="col-sm-12 col-md-12 col-lg-12 footer">
  <!-- <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 footer"> -->
    <p>
      <a href="https://linkedin.com/in/danielyim/" title="linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://github.com/danyim" title="github" target="_blank"><i class="fa fa-github-square"></i></a>
      <a href="https://twitter.com/danyim" title="twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
    </p>
    <p>
      &copy; 2014 danyim
    </p>
  </div>
</div>